*{
  box-sizing: border-box;
  padding: 0;
  margin:0;
}

body{
  font-family: 'DM Sans', sans-serif;;
  font-weight: 600;
}

/* Button */

.btn {
	display: inline-block;
	color: #000000;
	font-size: 1rem;
	text-align: center;
  font-weight: 500;
	border: none;
	cursor: pointer;
	margin: 0 0.9rem;
	outline: none;
  border: 0.5px solid;
  border-color: #90A17D;
	border-radius: 0.5rem;
}

.btn-rounded {
	border-radius: 5rem;
}

.btn-lg {
	font-size: 1rem;
	padding: 10px 25px;
}

.btn-xl{
  font-size: 18px;
  padding: 15px 30px;
  border-radius: 35px;
  font-weight: 500;
  border:
}

.btn-reservate{
  color: #fff;
  margin: 0.5rem;
  background-color: #FF731D;
  border-color: #FF731D;
}

.card-btn{
  max-width: fit-content;
}

/* Navbar */

.logo{
  margin-right: 1.6rem;
}

.navbar{
  padding: 1rem 6.4rem 2.2rem 6.4rem;
  display: inline-flex;
}

.left-nav{
  display: inline-flex;
  width: 50%;
}

.navbar .right-nav{
  position: absolute;
  right: 6rem;
}

.nav-link{
  text-decoration: none;
  list-style-type: none;
  display: inline-flex;
}

li{
  margin: 1rem;
}

li a{
  font-size: 18px;
  color: #696969;
  font-weight: 500;
}

li.left{
  margin-left: 0.5rem;
  margin-top: 1rem;
}

li.right{
  margin-right: 0;
  position: static;
  bottom:0;
}

a{
  text-decoration: none;
  color: #000000;
}

.oran{
  background-color: #FF731D;
  color: #fff;
  border-color: #FF731D;
}

/* Main */

.main{
  padding: 6rem 9rem;
  background: linear-gradient(
    to right,
    #fff 0%,
    #fff 65%,
    #FF731D 65%,
    #FF731D 100%
  );
}

.main h1{
  font-size: 3rem;
  line-height: 4rem;
  letter-spacing: 1px;
  padding-bottom: 20px;
}

.tagline h1{
  font-weight: 700;
}

.lorem{
  width: 48%;
  color: #757575;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 1rem;
}

.img-div{
  width:36%;
  height: auto;
  position: absolute;
  right: 9rem;
  bottom: 6rem;
}

.main-img{
  width: 80%;
  border-radius: 10px;
}

/* Partners */

.partners p{
  margin-top: 5rem;
  margin-bottom: 1.4rem;
  text-align: center;
  font-size: 1.3rem;
}

.partners-img{
  display: flex;
  justify-content: center;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 9.5rem;
}

.partners-img img{
  margin-right: 3rem;
}

.partners-img img.postmate{
  width: 18%;
}

/* Menu */

.menu h2{
  text-align: center;
}

.menu .grid {
  display: grid;
  margin-left: 3.5rem;
  margin-top: 2.7rem;
  margin-bottom: 2rem;
  width: 90%;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 20%));
  justify-content: center;
  align-items: start;
}

.menu .grid .grid-items {
  padding:1.5rem 1.5rem 0.6rem 1.5rem;
  background-color: #fff;
  border: 3px solid #DDDDDD;
  border-radius: 0.4rem;
  overflow: hidden;
  border-radius: 20px;
}

.card-img {
  margin-left: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 40%;
}

.menu .grid .grid-items .card .card-content .card-header {
  margin-bottom: 1.5rem;
  text-align: center;
}

.menu .grid .grid-items .card .card-content .card-text {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2rem;
  color: #90A17D;
  margin-bottom: 2.5rem;
}

.menu .grid .grid-items .card .card-content h3.black{
  font-size: 20px;
  color: #0d0d0d;
  font-weight: 600;
}

.Heading{
  color: #FF731D;
  font-weight: 500;
  font-size: 17px;
}

.menu .card-btn{
  margin-left: 37%;
  margin-bottom: 5.7rem;
}

/* About us */

.about-us{
  background-color: #FFF9F3;
  padding-left: 150px;
  padding-top: 150px;
  padding-bottom: 12.5rem;
  display: inline-flex;
}

.us-img{
  width:50%;
}

.us-img img{
  width:460px;
  border-radius: 30px;
}

.about-us .content{
  padding-top: 100px;
  width:50%;
}

.about-us .content p{
  width: 80%;
  margin-top: 2rem;
  color: #8d8d8d;
  font-size: 1rem;
  font-weight: 500;
}

.about-us .content h1{
  font-size: 2rem;
}

.about-us .right-nav{
  position: absolute;
  right: 18rem;
  top: 133.2rem;
}

.contact{
  width: 400px;
  padding: 50px 80px 50px 50px;
  position: absolute;
  right: 39rem;
  top: 126rem;
  background: #fff;
  border-radius: 25px;
}

.contact h2{
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 1.2rem;
}

.contact .info{
  display: inline-flex;
  margin-bottom: 1rem;
}

.contact .info p{
  margin-left: 1rem;
  color: #90A17D;
  font-weight: 500;
}

/* Browse menu */

.browse-menu h1{
  margin-top: 10rem;
  position: relative;
  left: 33.7rem;
  margin-bottom: 1.6rem;
  width: 50%;
}

.browse-menu p{
  margin-left: 21rem;
  margin-bottom: 1.8rem;
  font-weight: 500;
  display: block;
  color: #90A17D;
  width:50%;
}

.browse-menu .grid {
  display: grid;
  margin-left: 5rem;
  width:90%;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 20%));
  justify-content: center;
  align-items: start;
}

.browse-menu .grid .grid-items {
  background-color: #fff;
  border-radius: 30px;
}

.card-img2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
  width: 100%;
  border-radius: 30px;
}

.card-img2 img{
  width: 100%;
  height: auto;
}

.browse-menu .grid .grid-items .card .card-content h3.card-header {
  font-size: 1.5rem;
  font-weight: 700;
  color: #0d0d0d;
  margin-bottom: 1rem;
  text-align: center;
}

.browse-menu .grid .grid-items .card .card-content .card-text p{
  font-size: 15px;
  font-weight: 500;
  line-height: 1.3rem;
  color: #686868;
}

.browse-menu .grid .grid-items .card .card-content .card-text p{
  position: relative;
  right: 21rem;
  text-align: center;
  width: 100%;
}

.browse-menu .card-btn{
  position: relative;
  left: 32.7rem;
}

.price{
  height: 2.5rem;
  width: 7.5rem;
  float: right;
  z-index: 1;
  padding: 10px;
  background-color: #fff;
  position: relative;
  right: 0.7rem;
  top: 3rem;
  border-radius: 15px;
  display: block;
  font-size: 700;
}

.price p{
  position: relative;
  right: 20.5rem;
  width: 5.8rem;
  color: #000000;
  font-weight: 700;
}

/* Showcase */

.showcase{
  display: inline;
}

.orange{
  margin-top: 12rem;
  float: left;
  width: 46.4%;
  padding: 220px 0 106px 150px;
  background-color: #FF731D;
}

.orange .headline{
  width: 380px;
  margin-bottom: 1.8rem;
}

.orange .headline h1{
  max-width: 100%;
  font-weight: 700;
  font-size: 38px;
  color: #fff;
}
.orange .para{
  display: inline-block;
  width: 380px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.orange .right-nav{
  margin-top: 1.4rem;
  margin-bottom: 8rem;
}

.orange .right-nav .btn-order{
  background-color: #fff;
  color: #000000;
}

.orange .right-nav .btn-reservate{
  border: 1px solid #fff;
}

.showcase .img{
  margin-top: 12rem;
  width: 53.6%;
  float: right;
}

.showcase .img img{
  width: 100%;
}

/* Clientele */

.clientele .para{
  display: inline-block;
  margin-top: 9.4rem;
  margin-left: 49.5%;
  font-family: 'Times New Roman';
  font-weight: lighter;
}

.clientele h1{
  display: inline-block;
  margin-left: 32.1rem;
  margin-top: 1.4rem;
  margin-bottom: 1.2rem;
}

.clientele p{
  display: inline-block;
  width: 50%;
  font-weight: 500;
  color: #727272;
  margin-left: 20.8rem;
  margin-bottom: 1.5rem;
}

.ratesec .img{
  height: 60px;
  width: 60px;
  padding: 5px;
  border-radius: 50px;
}

.ratemain{
  display: flex;
  padding: 50px 50px 40px 50px;
  flex-direction: column;
  width: 50%;
  box-sizing: border-box;
  row-gap: 8px;
  border-radius: 25px;
  border: 3px solid #d5d5d5;
  margin-left: 20.8rem;
  margin-bottom: 3.5rem;
}

.stardiv .star{
  background-color: #fff;
  display: inline-block;
  width: 40px;
  height: 40px;
  float: left;
}

.ratemain h2{
  font-weight: 500;
  margin-left: 0.5rem;
}

div.ratesec p.parag{
  color: #716f6f;
  font-size: 14px;
  font-weight: 700;
  margin-left: 0.5rem;
  width: 568.5px;
}

.ratemain .infodiv{
  display: flex;
  flex-direction: row;
  column-gap: 8px;
}

.ratemain .infodiv .img2{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  column-gap: 25px;
}

.ratemain .infodiv .img2 img{
  width: 100%;
}

.ratemain .infodiv .nameloc{
  display: flex;
  row-gap: 2px;
  flex-direction: column;
}

.ratemain .infodiv h2{
  font-size: 1rem;
  display: inline-block;
}

.ratemain .infodiv h2.grey{
  color: #595858;
}

.left{
  margin-left: 14rem;
  margin-top: 8rem;
  float: left;
}

.right{
  float: right;
  position: relative;
  bottom: 15.5rem;
  right: 14.3rem;
}

.clientele .card-btn{
  position: relative;
  left: 30.5rem;
  margin-bottom: 8.8rem;
}

/* Article */

.article-main{
  background-color: #FFF9F3;
  padding: 150px 100px 100px 100px;
  box-sizing: border-box;
  width: 100%;
}

.article{
  display: flex;
  flex-direction: column;
  row-gap: normal;
}

.topdiv{
  display: flex;
  box-sizing: content-box;
  justify-content: space-between;
}

.article .topdiv p{
  font-family: 'Times New Roman';
  padding-top: 1rem;
  font-weight: 300;
  padding-bottom: 3rem;
}

.articlediv{
  display: flex;
  flex-direction: row;
  column-gap: 4.7rem;
}

.articlediv .leftdiv{
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  background-color: #fff;
}

.articlediv .leftdiv .article-img{
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  width: 509px;
  padding-bottom: 2rem;
}

.articlediv .leftdiv .article-img img{
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  width: 100%;
  height: 450px;
}

.articlediv .date{
  padding-left: 20px;
  color: #737373;
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 12px;
}

.article .heading{
  padding-left: 20px;
}

.article .heading h1{
  font-size: 26px;
  font-weight: 700;
  padding-bottom: 12px;
}

.article .heading p{
  font-size: 15px;
  color: #8f8f8f;
}

.articlediv .rightdiv{
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.articlediv .righttop, .rightbottom{
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
}

.articlediv .card{
  width: 244px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  background-color: #fff;
}

.articlediv .card h1{
  font-size: 1rem;
  width: 214px;
}

.articlediv .rightdiv .article-img{
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  width: 244px;
  padding-bottom: 1.6rem;
}

.articlediv .rightdiv .article-img img{
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  width: 100%;
}

.articlediv .rightdiv h1{
  padding-bottom: 20px;
}

/* Book-table */

.book-table{
  padding: 5rem 8rem 7.4rem 8rem;
  display: flex;
  flex-direction: row;
  background: linear-gradient(
    to right,
    #fff 0%,
    #fff 56%,
    #FF731D 56%,
    #FF731D 100%
  );
}

.book-table .container{
  width: 658px;
}

.book-table .Heading{
  display: inline-block;
  font-size: 34px;
  font-weight: 700;
  align-self: auto;
  color: #000000;
  padding-bottom: 1.6rem;
  margin: 15rem 0 0 1.2rem;
}

.book-table .lorem{
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  align-self: auto;
  color: #727171;
  margin: 0 0 20px 20px;
}

.book-table .contact{
  position: static;
  border-radius: 0;
  width: 300px;
  font-size: 1rem;
  padding: 0 0 0 20px;
}

.book-table .contact img{
  width: 30px;
  height: 30px;
}

.book-table .contact .info{
  margin-left: 0;
}

.book-table .contact .info p{
  width:230px;
  margin-left: 20px;
  color: #717070;
}

.book-table .contact .info img.location{
  margin-top: 1rem;
}

.book-table .ratemain{
  display: flex;
  padding: 80px 50px 30px 50px;
  flex-direction: column;
  box-sizing: border-box;
  row-gap: 30px;
  width: 524px;
  border-radius: 35px;
  border: 3px solid #d5d5d5;
  background-color: #fff;
  position: relative;
  right: 90px;
  top: 20px;
  margin: 0;
}

.book-table .ratemain h2{
  font-weight: 500;
  margin-left: 0.5rem;
}

.book-table .ratemain .subdiv{
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.book-table .innerdiv{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.ratemain .subdiv h1{
  font-size: 18px;
  font-weight: 500;
}

.subdiv input{
  padding: 11px 15px;
  color: #000000d9;
  font-size: 14px;
  border: 1px solid #d9d9d9;
  border-radius: 20px;
}

.book-table .ratemain h1.note{
  font-size: 18px;
  font-weight: 500;
}

.book-table .ratemain input.note{
  padding: 11px 15px;
  color: #000000d9;
  font-size: 14px;
  border: 1px solid #d9d9d9;
  border-radius: 20px;
  height: 180px;
  align-self: auto;
  text-align: center;
}

.book-table .ratemain a{
  margin-top: 0;
  width: 40%;
}

/* Follow us */

.follow-us{
  background-color: #FFF9F3;
  padding: 160px 100px 140px 100px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.follow-us .bottomdiv{
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  padding-left: 90px;
  padding-top: 10px;
}

.follow-us .bottomdiv .img{
  width:300px;
}

.follow-us .bottomdiv .img img{
  width:100%;
  border-radius: 35px;
}

.rightbottoms{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.rightbottoms .subdiv{
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.rightbottoms .subdiv .img{
  width: 145px;
}

.rightbottoms .subdiv .img img{
  width: 100%;
  border-radius: 25px;
}

/* Footer */

.footer{
  padding: 100px 150px 45px 150px;
  display: flex;
  flex-direction: row;
  column-gap: 61px;
}

.desc{
  display: flex;
  flex-direction: column;
  row-gap: 13px;
}

.desc p{
  width: 420px;
  font-weight: 500;
  font-size: 16px;
  color: #6a6868;
}

.desc .stardiv{
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.desc .stardiv .star{
  width:30px;
  font-weight: 500;
}

.footer .rightbottoms{
  position: relative;
  left: 25px;
}

.pageutility{
  display: flex;
  flex-direction: row;
  column-gap: 30px;
}

.pageutility h1{
  font-size: 20px;
  font-weight: 500;
}

.pageutility ul{
  list-style: none;
  color: #7f7c7c;
  font-size: 16px;
  text-align: left;
  margin-top: 30px;
  display: block;
}

.pageutility ul li{
  margin: 10px 0;
  font-weight: 500;
  color: #7f7c7c;
}

.rightbottoms h2{
  font-weight: 500;
  font-size: 20px;
}
